<section class="main-header regular">
    <div class="vertical-container">
        <div class="wrapper clearfix">
            <header>
                <a href="/">
                    <h1 id="main-title">CHEN DE</h1>
                    <h2 id="main-subtitle">A Developer Who Loves Technologies</h2>
                </a>
            </header>

            <nav id="main-nav" role="navigation">
                <a href="/about/" class="">About</a>
                <a href="/blog/" class="selected">Blog</a>
                <a href="mailto:xxyydream@163.com">Contact</a>
            </nav>
        </div>
    </div>
</section>