<section class="main-header regular">
    <div class="vertical-container">
        <div class="wrapper clearfix">
            <header>
                <a href="/">
                    <h1 id="main-title">CHEN DE</h1>
                    <h2 id="main-subtitle">Become better than yesterday</h2>
                </a>
            </header>

            <nav id="main-nav" role="navigation">
                <a href="/about/" class="">关于我</a>
                <a href="/" class="selected">博客</a>
                <a href="mailto:xxyydream@163.com">联系我</a>
            </nav>
        </div>
    </div>
</section>